.p5Canvas {
  /* zorg dat canvas niet groter wordt dan window
     en behoud breedte x hoogte verhouding van 1280x720 
   */  
  max-width: min(100vh*1080/720, 100vw);
  max-height: min(100vw*720/1280, 100vh);
  


  /* zet canvas in het midden
   */ 
  display:block;
  margin: auto;
}



html, body {
  /* verwijder marge tussen canvas en rand van window
   */ 
  margin: 0px;
}

/* CSS bestand
   Hierin staat de opmaak van onze html pagina
*/

/* marges aan de zijkant van de pagina verwijderen */
html,body {
  margin 0px;
}

/* laat het canvas waarin we onze game maken
   de volle breedte van het window gebruiken 
*/
.p5Canvas {
  height: 100% !important;
  max-width: 100% !important;
}

.button {

  background-color: rgb(171, 254, 255); /* Green */
  border: none;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

aantlevens {
  font-family: fantasy;
}